
<div class="jumbotron text-center">
    <h1>Velkommen til Storvik Maskin</h1>
    <h3>Dette er en side hvor ansatte kan registrere timer, og prosjektledere kan følge opp sine prosjekter.</h3>
</div>
