
<div class="jumbotron text-center">
    <h1>Velkommen</h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, quam, sint, accusantium sequi corporis officiis tempora sunt nemo consequuntur nisi soluta id asperiores hic rerum laborum repudiandae facilis magni unde?</h3>
</div>
